<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> This is a Server Side Render Web page</h1>
    <div>
        <p> Ok, I'm running...
    </div>
    <h2>Server RESTful Endpoints:</h2>
    <ul>
        <li>curl -X POST http://localhost:4001/temperature -H 'Content-Type: application/json' -d "{\"temperature\": {value}}"</li>
        <li>curl -X GET http://localhost:4001/temperature</li>
        <li>curl -X GET http://localhost:4001/temperature/{id}</li>
        <li>curl -X PUT http://localhost:4001/temperature/{temperature}?id={id}</li>
        <li>curl -X DELETE http://localhost:4001/temperature</li>
        <li>curl -X DELETE http://localhost:4001/temperature/query?id={id}</li>
    </ul>
</body>
</html>